{% extends "base.html" %}

{% block page_content %}
  <meta charset="UTF-8">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center orange-text">지금 바로, 예약하세요!</h2>
      <div class="row center">
        <h5 class="header col s12 light">로그인 후 원하시는 냉장고를 골라 사용하고 싶은 날짜를 입력해주세요.</h5>
      </div>
      <div class="row center">
        <a href="{{ url_for('set1') }}" id="download-button" class="btn-large waves-effect waves-light orange">1번 냉장고</a>
        <a href="{{ url_for('set2') }}" id="download-button" class="btn-large waves-effect waves-light orange">2번 냉장고</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">빠르고 간편한 예약</h5>

            <p class="light">어플을 접속한다음 클릭 2번이면 냉장고를 사용할 수 있습니다. 직관적인 인터페이스를 갖추고 있어서 처음 사용하더라도 빠르고 간편하게 예약하실 수 있습니다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">나만의 냉장고</h5>

            <p class="light">누군가가 훔쳐먹진 않을까, 사라지지 않을까 마음졸이지 마세요. 이 냉장고는 아무도 건드릴 수 없습니다. 간단한 예약 후 나만의 비밀냉장고를 이용하세요.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">쉬운 사용법</h5>

            <p class="light">로그인을 한 뒤, 사용하고 싶은 냉장고를 누르고 원하는 기간을 적습니다. 그리고 자신만의 암호를 설정해주면 끝. 쉽죠?</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>


{% endblock %}